.layout {
  display: grid;
  height: 100vh;
  // grid-template: 'sidebar content' 1fr / 220px 1fr;
  grid-template-columns: 220px 1fr;
}

.sidebar {
  // grid-area: sidebar;
  grid-column: 1;
}

.content {
  overflow-y: auto;
  // grid-area: content;
  padding: 20px;
  grid-column: 2;
}
