.userIdCell{
  display: flex;
  align-items: center;
  .userBanIcon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 36px;
    height: 100%;
  }
}

.disableHoverHeaderStyle {
  &:hover {
    background-color: initial;
    cursor: default;
  }
}
